body {
  font-family: 'Amatic SC', cursive;
  font-weight: 7000;
  background: #6ee0b0;
}

.headerBG{
  background: url('/resources/img/cloudBG.png') no-repeat;
  height: 100vh;
  background-size: co
}



